body {
	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.navbar-toggler .fa-solid {
	color: #fff;
	font-size: 26px;
	size: 20px;
}

.nav-item {
	gap: 20px;
	flex-direction: column;

}

.jumbatron {
	background-image: url(./img/fondo2.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
	color: rgb(12, 8, 53);
	border-radius: 40px important;
}

.jumbatron .text-center .h1{
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbatron h1 {
	color: rgb(255, 255, 255);
	flex: auto;
	margin: 30px 0;
	font-size: 30px;
	line-height: 1.5;
}

.intro{
	padding-top: 200px;
}

.intro .h1 {
	padding-bottom: 100px;
}

.intro img {
	width: 200px;
}

.navbar-nav .a {
	align-items: center;
	color: #fff;
	margin: 0 20px;
	margin-top: 30px;
}

.navbar-toggler {
	color: #fff important;
	border: none important;
	outline: none important;
}

.nav-link:hover {
	font-weight: 200px;
	border-bottom: 2xp solid #fff;
	margin-bottom: -1px;
}

#header .btn {
	border: 1px solid #fff;
	margin-top: 20px;
	padding: 6px 26px;
	font-size: 16px;
}

#searchbarcontainer {
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search {
	left: 10px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0px;
    width: 500px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    border: 2px solid #c4c4c4;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

#searchbar:hover {
    box-shadow: 0 0 30px rgb(95, 153, 219);
}
.product {
	align-items: center;
	display: flex;
	justify-content: right;
	left: 50px;
}

.cta {
	display: inline-block;
	text-decoration: none;
	background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
	padding: 12px 15px;
	border-radius: 8px;
	color: #fff;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
	/* display: flex;
	gap: 20px; */
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
}

.titulo {
	justify-content: center;
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-merch {
	/* width: 70%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; */
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;
}

.content-cards{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.card {
	/* width: 33.33%; */
	/* border-radius: 10px;
	width: 380px;
	min-height: 400px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center; */
	/* width: calc(33.3% - 20px); */
	width: 30%;
	text-align: center;
	height: 300px;
	box-shadow: 0 0 3px 0 rgb(0, 0, .5);
	transform: scale(1);
	transition: transform 0.6s;
	border-top: 400px;
	border-bottom: 500px;
	right: 10px;
	top: 120px;
	background-color: #fff;
}

.card:hover{
	box-shadow: 0 0 6px 0 rgb(0, 0, .5);
	cursor: pointer;
}

.card i{
	margin: 30px 0 20px 0;
	color: #bac8e0;
	font-size: 50px;
}

.card p{
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 10px;
}

.card .textos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* display: grid;
	grid-template-rows: 1fr auto; */
}

/* info2 */

.last-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 40px;
}

.last-section img{
	width: 48%;
}

.last-section .contenedor-textos-main{
	width: 40%;
	top: 900px;
	justify-content: flex-end;
}

.last-section .contenedor-textos-main>P{
	text-align: right;
	justify-content: center;
	gap: 20PX;
	top: 400px;
}