body {
	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(to top, #03095e 0%, #000000 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.navbar-toggler .fa-solid {
	color: #fff;
	font-size: 26px;
	size: 20px;
}

.nav-item {
	gap: 20px;
	flex-direction: column;

}

.jumbatron {
	background-image: url(./img/fondo2.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
	color: rgb(12, 8, 53);
	border-radius: 40px important;
}

.jumbatron .text-center .h1{
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbatron h1 {
	color: rgb(255, 255, 255);
	flex: auto;
	margin: 30px 0;
	font-size: 30px;
	line-height: 1.5;
}

.intro{
	padding-top: 200px;
}

.intro .h1 {
	padding-bottom: 100px;
}

.intro img {
	width: 200px;
}

.navbar-nav .a {
	align-items: center;
	color: #fff;
	margin: 0 20px;
	margin-top: 30px;
}

.navbar-toggler {
	color: #fff important;
	border: none important;
	outline: none important;
}

.nav-link:hover {
	font-weight: 200px;
	border-bottom: 2xp solid #fff;
	margin-bottom: -1px;
}

#header .btn {
	border: 1px solid #fff;
	margin-top: 20px;
	padding: 6px 26px;
	font-size: 16px;
}

#searchbarcontainer {
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search {
	left: 10px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0px;
    width: 500px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    border: 2px solid #c4c4c4;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

#searchbar:hover {
    box-shadow: 0 0 30px rgb(95, 153, 219);
}
.product {
	align-items: center;
	display: flex;
	justify-content: right;
	left: 50px;
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
	/* display: flex;
	gap: 20px; */
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
}

.titulo {
	justify-content: center;
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-merch {
	/* width: 70%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; */
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 20px;
}

.card {
	/* width: 33.33%; */
	border-radius: 10px;
	width: 380px;
	min-height: 400px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	/* width: calc(33.3% - 20px); */
}

.card .textos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* display: grid;
	grid-template-rows: 1fr auto; */
}


@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}

#footer-content {
    align-items: center;
    text-align: 30px;
    margin: 28px;
    margin-bottom: 10px;
    margin-top: 20%;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    background: black;
    border-top: 1px solid rgb(185, 179, 179);
}

#footer-content a {
    margin-right: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}